*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 5px;
    margin: 5px;
    color: #f7c6af;
    font-size: 45px;
}

h1:hover {
    color: #8c8c8c;
    text-decoration: underline;
}

h2 {
    margin: 5px;
    padding: 5px;
    color: #f7c6af;
    text-align: center;
    animation-name: titulo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

p {
    margin: 5px;
    padding: 5px;
}

.boton {
    margin: 5px;
    padding: 5px;
    background-color: #f7c6af;
    border-radius: 15px;
}

.boton:hover{
    background-color:#8c8c8c;
}

.contImg {
    height: 400px;
    margin: 10px;
}

img:hover{
    transform: scale(1.1) translate(10px,10px);
    transition: 0.8s;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
}

/* keyframes */

@keyframes titulo {
    0% {
        color: #f7c6af;
    }

    25% {
        color: #8c8c8c
    }

    50% {
        color: #f7c6af;
    }

    75%{
        color: #8c8c8c;
    }

    100% {
        color: #f7c6af;
    }
}