$color-fondo: #f7c6af;

$color-nav: #8c8c8c;

$color-link: #8c8c8c;

$color-h1: #f7c6af;

$color-h2: #f7c6af;

$color-boton: #f7c6af;

$color-hover: #8c8c8c;

$color-button: #f7c6af;

$color-card: #8c8c8c;

